  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span7">
        <p>Pie chart with overall success information</p>
        <svg width="100" height="100">
          <circle id = "myCircle" cx="50" cy="50" r="30" ></circle>
        </svg>
      </div>
      <div class="span5">
        <div class="row">
          <p>Most successful prints (default is list of 5)</p>
          <p data-bind="text: message"></p>
        </div>
        <div class="row-fluid">
          <p>Least successful prints (default is list of 2)</p>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <p>Bar chart with filament usage by type</p>
      </div>
      <div class="span3">
        <p>Drop down to choose data to view filament data by</p>
      </div>
      <div class="span5">
        <p>Information on most used, most and least successful filaments</p>
      </div>
    </div>
    <div class="row-fluid">
      <p>Menu to select a file</p>
    </div>
    <div class="row-fluid">
      <div class="span5">
        <p>Pie chart with data on selected print success rate</p>
      </div>
      <div class="span7">
        <div class="row-fluid">
          <p>Filament information for the selected print</p>
        </div>
        <div class="row-fluid">
          <p>Other information on the selected print including first layer area, avg. temperature, ect.</p>
        </div>
      </div>
    </div>
  </div>
